<section id="shop">
    <h2>Shop the Latest Fashion</h2>
    <link rel="stylesheet" href="../style/shop.css">

    <div class="product-group">
        <div class="product">
            <img src="../public/image2.jpg" alt="Elegant Red Dress">
            <h3>Elegant Red Dress</h3>
            <p>$120</p>
            <button>Add to Cart</button>
        </div>

        <div class="product">
            <img src="../public/image10.jpg" alt="Luxury Heels">
            <h3>Luxury Heels</h3>
            <p>$95</p>
            <button>Add to Cart</button>
        </div>

        <div class="product">
            <img src="../public/image1.jpg" alt="Designer Handbag">
            <h3>Designer Handbag</h3>
            <p>$180</p>
            <button>Add to Cart</button>
        </div>

        <div class="product">
            <img src="../public/imagge7.jpg" alt="Elegant Gold Necklace">
            <h3>Elegant Gold Necklace</h3>
            <p>$250</p>
            <button>Add to Cart</button>
        </div>
    </div>

    <div class="product-group">
        <div class="product">
            <img src="../public/image5.jpg" alt="Dinner Gown">
            <h3>Dinner Gown</h3>
            <p>$140</p>
            <button>Add to Cart</button>
        </div>

        <div class="product">
            <img src="../public/image11.jpg" alt="Stylish Heels">
            <h3>Stylish heels</h3>
            <p>$110</p>
            <button>Add to Cart</button>
        </div>

        <div class="product">
            <img src="../public/image12.jpg" alt="Leather Tote Bag">
            <h3>Leather Tote Bag</h3>
            <p>$160</p>
            <button>Add to Cart</button>
        </div>

        <div class="product">
            <img src="../public/image8.jpg" alt="Gold Rose Necklace">
            <h3>Gold Necklace</h3>
            <p>$320</p>
            <button>Add to Cart</button>
        </div>
    </div>

</section>